.wrapper {
  display: flex;
  height: calc(100vh - 100px);
}

.leftPanel {
  display: flex;
  flex-direction: row;
  width: 60%;
  border-right: 1px solid #eee;
  overflow: hidden;
}

.searchPanel {
  flex: 2;
  padding: 24px;
  overflow-y: auto;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.selectedPanel {
  flex: 1;
  padding: 24px;
  background-color: #f8f8f8;
  overflow-y: auto;
}

.mapPanel {
  width: 40%;
  position: relative;
}
